* {
  font-family: 'IstokWeb';
}

nav {
  background: linear-gradient(135.22deg, rgba(31, 31, 31, 0.85) 11.61%, rgba(20, 15, 15, 0.85) 94.55%);
  box-shadow: 0px 4px 200px 10px rgba(255, 80, 80, 0.34);
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
  width: 100vw;
}

nav li {
  cursor: pointer;
}

