@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary: #FF5050;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: IstokWeb;
  /* local: busca se já existe no OS
    format: informa que o tipo é TTF (true type font)
  */
  src: local('IstokWeb'), url('./fonts/IstockWeb/IstokWeb-Regular.ttf'), format('truetype') ;
}

@font-face {
  font-family: IstokWeb;
  /* local: busca se já existe no OS
    format: informa que o tipo é TTF (true type font)
  */
  src: local('IstokWeb'), url('./fonts/IstockWeb/IstokWeb-Bold.ttf'), format('truetype') ;
  font-weight: bold;
}